[Desktop Entry]
Name=Cisco Packet Tracer
Comment=Simulador de redes Cisco
Exec=/home/doritos/.local/bin/packettracer %f
Icon=packettracer
Terminal=false
Type=Application
Categories=Network;
MimeType=application/x-pkt;application/x-pka;application/x-pkz;application/x-pks;application/x-pksz;
StartupNotify=true
